<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script  src="/js/jquery.js"></script> 
    <script src="/js/bootstrap.min.js"></script>

<style>
  
  
body{
        height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1472803828399-39d4ac53c6e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MTB8NDkxODM2fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=900&q=60");
  background-size: cover;
 background-position: center;
}

</style>

    <title>Document</title>
</head>
<body>
  <%- include('../partials/navbar') %>
     
       <section class=" gradient-custom " style="margin-top: 12em;">
        <div class="container mt-5">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class=" col-md-10 col-lg-9 col-xl-9">
              <div class="card text-white" style="border-radius: 1rem; background-color: rgba(0,0,0,0.6); ">
                <div class="card-body p-4 text-center">

                  Publish your passions, your way. Create a unique and beautiful blog easily.
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


</body>
</html>